.box,
    .sample-layout > div {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 4px;
        color: #30383c;
    }

    .box-stretched {
        height: 100%;
        box-sizing: border-box;
    }

    .sample-layout {
        margin: 0;
    }

    .sample-layout > div {
        border: 1px solid #ffffff;
    }

    .vertical-container {
        margin: 0;
        height: 200px;
        background: #efefef;
        border-radius: 4px;
    }

    .nested-grid .p-col-4 {
        padding-bottom: 1em;
    }

    .doc-table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .doc-table th {
        background-color: #cce4f7;
    }

    .doc-table td,
    .doc-table th {
        border: 1px solid #e5ebf0;
        text-align: left;
        padding: 8px;
    }

    .doc-table tr:nth-child(odd) {
        background-color: #f3f6f9;
    }

.sub-title {
    position:relative; 
    top:-30px;
}

.title-style{
    position:relative; 
    top:30px;
}

.logo-style{
    position:relative; 
    top:50px;
    left: 40px;
}

.imageStole{
    width: 5px;
    height: 5px;
    max-width: 10px;
    max-height: 10px;
}